.logo {
	cursor: pointer;
	@media screen and (max-width: 767px) {
		color: var(--main-dark-theme);

		&-icon {
			fill: currentColor;
		}
	}

	@media screen and (min-width: 768px) {
		color: var(--main-light-theme);

		&-icon {
			fill: currentColor;
		}
	}
}

.header__logo {
	@media screen and (max-width: 767px) {
		padding: 40px 31px;
		fill: white;
	}

	@media screen and (min-width: 768px) {
		padding: 32px 35px;
	}
	@media screen and (min-width: 1200px) {
		margin-right: 71px;
		padding-right: 0;
		padding-left: 15px;
	}
}
