body {
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  line-height: 1.67;
  color: var(--text-color);

  background-color: #829663;
}

body.modal-open {
  overflow: hidden;
}

body.no-scroll {
  overflow-y: hidden;
}
